text {
    font-family: "Courier New";
    font-weight: bold;
    
}

svg {
   font-family: "Helvetica";
}

p {
    margin:0;
    margin-left: 10px;
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

