text {
    font-family: "Courier New";
    font-weight: bold;
    
}

svg {
   font-family: "Helvetica";
}

p {
    margin:0;
    margin-left: 10px;
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#drop {
    margin: 5px;
    margin-left: 10px;
    width: 290px;
    height: 30px;  
}

.info {
    display: grid;
    grid-template-rows: auto;
}