text {
    font-family: "Courier New";
    font-weight: bold;
    
}

svg {
   font-family: "Helvetica";
}

p {
    font-family: "Courier New";
    font-weight: normal;
    margin:10;
    margin-left: 10px;
}

body {
    margin-left: 150px;
    margin-right: 150px;
    
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#drop {
    margin: 5px;
    margin-left: 10px;
    width: 290px;
    height: 30px;  
}

.info {
    display: grid;
    grid-template-rows: auto;
}

.titulo {
    text-align: center;
    font-size: 1.5cm;
    font-family: "Courier New";
    height: 100px;
    width: 100%;
    p
}