body {
    margin-left:100px;
    margin-right:100px;
}


.mandamas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.visualizaciones {
    display: grid;
    grid-template-rows: 1fr, 1fr;
}
.isla_pascua .juan_fernandez{
    width: 200px;
    height: 200px;
}

.islas {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.container {
    width: 400px;
    height: 200px;
}
