img {
    height: 400px;
    width: 600px;
}

body {
    background-color: lightblue;

}

h1, h2 {
    font-family: Helvetica;
}

.contenedorTexto{
    border-style: dashed;
}

.contenedorImagen {
    border-style: dotted;
}

.contenedorSVG{
    border-style: dashed;
}
div {margin-top: 10px;
    margin-bottom: 10px;}